<div class="itineraries">

  <% itineraries.each do |itinerary| %>
    <a href="/itineraries/<%= itinerary.id %>/spots/<%= itinerary.itinerary_spots.first.id %>"><%= itinerary.name %></a>

    <% waypoints = [] %>

    <% itinerary.spots.each do |spot| %>
      <% waypoints << [spot.latitude.to_f, spot.longitude.to_f] %>
    <% end %>

    <div class="map-canvas" data-latlong='<%= waypoints %>' style="width:300px;height:250px;margin:0 auto;display:block;"></div>
  <% end %>

</div>
