<fieldset>
  <label>Spot Address<input class="address" type="text" name="itineraries_name[][address]"></label>
  <label>Spot Description<input class="description" type="text" name="itineraries_name[][description]"></label>
</fieldset>
