<span class="twitter-typeahead" style="position: relative; display: inline-block;">
  <input id="spot_type_search_input" class="typeahead tt-query" type="text" placeholder="Search Categories" autocomplete="off" spellcheck="false" dir="auto">
  <span class="tt-dropdown-menu"></span>
  <button id=  type="submit">Search</button>
</span>

  <%# render "itineraries/itineraries", {itineraries: @itineraries} %>
