<span class="twitter-typeahead" style="position: relative; display: inline-block;">
  <input class="typeahead tt-query" type="text" placeholder="Search Categories" autocomplete="off" spellcheck="false" dir="auto">
  <span class="tt-dropdown-menu"></span>
</span>

  <%# render "itineraries/itineraries", {itineraries: @itineraries} %>
