<% if current_user %>

  Welcome <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path, id: "sign_out" %>

<% else %>

  <div class="row">
    <div class="large-12 welcome">
      <%= link_to "Sign in with Facebook", "/auth/facebook", class: "fb_sign_in" %>
    </div>
  </div>

  <div class="row">
  	<a class="small-" href="/browse">Browse</a>
  	<a href="/search">Search</a>
  </div>

<% end %>