<div class="welcome">
	<div class="logo">
		Perfect Day
	</div>

	  <div class="large-12 enter perfect_day_list no_dash_border">
	  	<h1 class="welcome_message">Document and share your perfect day.</h1>
	    <%= link_to "Connect via Facebook", "/auth/facebook", class: "fb_sign_in" %>
	   
	    <!-- <div class="row" style="margin-top: 15px;">
		    <div class="small-6 column">
		    	<a class="small_buttons" style="background: #000;">Browse</a>
		    </div>
		    <div class="small-6 column">
		    	<a class="small_buttons">Search</a>
		    </div>	
	  	</div> -->

	  </div>
</div>