<div class="welcome">
	<div class="logo">
		Logo Goes Here
	</logo>

  <div class="large-12 enter">
  	<h1 class="welcome_message">Document and share your perfect day.</h1>
    <%= link_to "Connect via Facebook", "/auth/facebook", class: "fb_sign_in" %>
  </div>
</div>