[comment: we will show all of this user's created itineraries below]
<h1>Itineraries Created</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
<% @itineraries.try(:each) do |itinerary| %>
    <tr>
      <td><%= itinerary.id %></td>
      <td><%= link_to , itinerary_path(itinerary) %></td>
    </tr>
<% end %>
  </table>

