.welcome {
  background: #aaa;
  height: 300px;
}

.fb_sign_in {
  margin: 0 15px 0 15px;
  padding: 20px 20px;
  color: #fff;
  font: bold 20px arial;
  background: #1C72FC;
  display: block;
  text-align: center;
  border-radius: 5px;
}

.bottom{
	position: fixed;
	bottom: 0;
	height: 40px;
	background: #000;
}