<% if current_user %>

  <!-- this will be on the options popout on top nav -->
  <div class="row header">
    <div class="small-6 columns small_logo">
      Perfect Day
    </div>
    <div class="small-6 columns" style="text-align: right;">
      <%= image_tag current_user.profile_url, class: "user_avatar" %>
      <%= link_to "Sign Out", signout_path(current_user), method: :destroy, class: "sign_out" %>
    </div>
  </div>

  <% elsif current_page?('/') %>

  <% else %>

  <div class="row" style="background: #eee;">
    <div class="small-12">
      Header Goes Here.
    </div>
  </div>

<% end %>